:root {
    --text-color: #333;
    --primary-color: #008F4D;
    --height-header: 60px;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}